# python temporarys
./__pycache__
**/__pycache__
**/*.pyc

# binaries in sample repos
REPOS_SAMPLE/*/a.out

# output dir
result_sample

# build dir to build angr
angr-dev


#ide specific
.idea

/venv
/data
